<h1><%= pluralize(@users.size, "User") %></h1>

<% @users.each do |user| %>
  <h2><%= link_to user.name, user %></h2>
<% end %>

<p><%= link_to "Sign Up", signup_path, class: "btn btn-primary", role: "button" %></p>