<footer id="footer">
  <div class="container">
    <p class="text-muted text-center">
      Copyright &copy; 2014 
      <%= link_to 'Wheatbox Studios', 'http://wheatboxstudios.com' %>
    </p>
  </div>
</footer>